{% extends 'main/base.html' %}
{% load filters %}
{% load tags %}
{% block content %}
{% star_svg %}

<div class="container my-5">
    <div class="text-center border-bottom pb-4 mb-4">
    <h1 class="mb-4">Vásárlói Vélemények</h1>
    <h3>Ön is megszeretné osztani a véleményét?</h3>
    <a href="/submit_review" class="btn btn-primary mb-4">Kattintson ide!</a>
    </div>
    <div class="list-group">
      {% for review in reviews %}
        <div class="list-group-item">
          <h5 class="mb-1">Dolgozó: {{ review.worker.name }}</h5>
          <p class="mb-1">
            Értékelés: 
            {{ review.rating|stars }}
          </p>
          <p class="mb-1">Megjegyzés: {{ review.comment }}</p>
        </div>
      {% endfor %}
    </div>
    
    {% pagination reviews "vélemény" %}
</div>
{% endblock %}

