{% extends 'main/base.html' %}
{% load tags %}
{% load filters %}
{% block nav_home %} active {% endblock %} 
{% block content %}

<div class="container my-5">
    <h1 class="text-center">Aukciós Tárgyak</h1>
    <hr class="mb-4">
    {% if items|length == 0 %}
        <p>Nincsenek elérhető aukciós tárgyak.</p>
    {% endif %}
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% for item in items %}
        <div class="card mb-3">
            <div class="row g-0">
                {% if item.picture %}
                <div class="col-md-4">
                    <img src="{{ item.picture }}" class="img-fluid" alt="{{ item.name }}">
                </div>
                {% endif %}
                <div class="col-md-8">
                  <div class="row g-0">
                    <div class="card-body col-md-6">
                        {% if user|has_group:"Management" %}
                        <form method="post" action="{% url 'ManagementAuctionItemUpdate' item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="PUT">
                            <div class="mb-3">
                                <strong>Név:</strong><input type="text" class="form-control" name="name" value="{{ item.name }}" placeholder="Név">
                                <strong>Kép URL:</strong><input type="url" class="form-control" name="picture" value="{{ item.picture }}" placeholder="Kép URL">
                                <strong>Kezdő licit:</strong><input type="number" class="form-control" name="starting_bid" value="{{ item.starting_bid }}" placeholder="Kezdő licit">
                                <strong>Aukció vége:</strong><input type="datetime-local" class="form-control" name="auction_end_time" value="{{ item.auction_end_time|date:'Y-m-d\\TH:i' }}" placeholder="Aukció vége">
                            </div>
                            <button type="submit" class="btn btn-primary">Frissítés</button>
                        </form>
                        <form method="post" action="{% url 'ManagementAuctionItemDelete' item.id %}" class="mt-2">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Törlés</button>
                        </form>
                        {% else %}
                        <h5 class="card-title">{{ item.name }}</h5>
                        {% if item.is_active %}
                        <span class="badge bg-success">Aktív</span>
                        <p class="card-text">Típus: {{ item.get_type_display }}</p>
                          {% if item.get_current_price == item.starting_bid %}
                          <p class="card-text">Kezdő licit: {{ item.starting_bid }} Ft</p>
                          {% else %}
                          <p class="card-text">Legmagasabb licit: {{ item.get_current_price }} Ft</p>
                          {% endif %}
                        <p class="card-text">Aukció vége: {{ item.auction_end_time }}</p>
                        {% else %}
                          {% if item.sold %}
                          <span class="badge bg-danger">Eladva</span> 
                          {% else %}
                          <span class="badge bg-secondary">Lezárt</span> 
                          {% endif %}
                        <p class="card-text">Típus: {{ item.get_type_display }}</p>
                          {% if item.get_current_price == item.starting_bid %}
                          <p class="card-text">Kezdő licit: {{ item.starting_bid }} Ft</p>
                          {% else %}
                          <p class="card-text"><strong>Nyertes: <i> {{ item.get_highest_bidder.username }} </i>| Nyertes Licit: {{ item.get_current_price }} Ft</strong></p>
                          {% endif %}
                        <p class="card-text">Aukció vége: {{ item.auction_end_time }}</p>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if item.is_active %}
                          {% if user.is_authenticated and not user|has_group:"Management" %}
                          <div class="d-flex flex-column justify-content-center h-100 p-3">
                              <form method="post" action="{% url 'placeBid' item.id %}">
                                  {% csrf_token %}
                                  <div class="mb-3">
                                      <label for="bidAmount{{ item.id }}" class="form-label">Licit összege (Ft):</label>
                                      <input type="number" class="form-control" id="bidAmount{{ item.id }}" name="bid_amount" min="{{ item.get_minimum_next_bid }}" required>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Licitálás</button>
                              </form>
                          </div>
                          {% endif %}
                          {% if user|has_group:"Management" %}
                          <div class="d-flex flex-column justify-content-center h-100 p-3">
                            <a href="{% url 'closeBidding' item.id %}" class="btn btn-danger">Licitálás lezárása</a>
                          </div>
                          {% endif %}
                          {% if not user.is_authenticated %}
                          <div class="d-flex flex-column justify-content-center h-100 p-3">
                              <p> Kérjük, <a href="/login/">jelentkezzen be</a> a licitáláshoz.</p>
                          </div>
                          {% endif %}
                        {% else %}
                          {% if user|has_group:"Management" and not item.sold %}
                            <div class="d-flex flex-column justify-content-center h-100 p-3">
                              <a href="{% url 'openBidding' item.id %}" class="btn btn-warning mb-2">Licitálás megnyitása</a>
                            </div>
                          {% endif %}
                          {% if user.is_authenticated and not user|has_group:"Management" %}
                          <div class="d-flex flex-column justify-content-center h-100 p-3">
                              <p> A licitálás jelenleg le van zárva.</p>
                          </div>
                          {% endif %}
                          {% if not user.is_authenticated %}
                          <div class="d-flex flex-column justify-content-center h-100 p-3">
                              <p> Kérjük, <a href="/login/">jelentkezzen be</a> a licitáláshoz.</p>
                          </div>
                          {% endif %}
                        {% endif %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% pagination items "tárgy" %}
</div>
{% endblock %}